/* Base scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #8a8a8a; 
  border-radius: 4px;
  transition: background 0.3s;
}

/* Thumb hover effect */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5b5a5a; 
}

/* Firefox scrollbar */
.custom-scrollbar {
  scrollbar-width: thin; 
  scrollbar-color: #928f8f #f0f0f0; 
}
